html {
  font-size: 62.5%;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: 'Gerbera';
  src: url('./assets/fonts/Gerbera.eot');
  src: url('./assets/fonts/Gerbera.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Gerbera.woff2') format('woff2'),
      url('./assets/fonts/Gerbera.woff') format('woff'),
      url('./assets/fonts/Gerbera.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-align: center;
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: $light-grey;
}
::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}
